<h1>Beste klant</h1>
<p>Een overzicht van de bestelde producten</p>

<table>
    <tr>
        <th>Naam</th>
        <th>Aantal</th>
        <th>Prijs</th>
    </tr>
    {% for product in Products %}
        <tr>
            <th>
                {{ product.Products.Naam }}<br>
            </th>
            <th>{{ product.Products.Prijs }}</th><br>
            <th>
            {{ product.Amount }}<br>
            </th>
        </tr>
    {% endfor %}
</table>