{% extends 'base.html.twig' %}

{% block title %}Producten lijst{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in Products %}
            <tr>
         aantal:  {{ product.Amount }} <br>
                naam: {{ product.Product.Naam }} <br>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
