{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in Product %}
            <tr>
                naam: {{ product.Product.Naam }} <br>
                aantal: {{ product.Amount }} <br>
                prijs: {{ product.Product.Prijs }} <br><br>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
